@{
    ViewBag.Title = "Trader Home";
}
<div class="My_Title">
    Game Trader Co
</div>

<article>
    <div class="row">
        <div class="col-md-4">
            <h2>Buy Games</h2>
            <p>
                Buy Used Games and New Games.
            </p>
            <p class="btn btn-default"> @Html.ActionLink("Buy Games", "BuyGames", "Home")</></p>
        </div>
        @{
            if (User.IsInRole("Seller"))
            {
                <div class="col-md-8">
                    <h2>Sell Games</h2>
                    <p>Start selling your old games now. </p>
                    <p class="btn btn-default"> @Html.ActionLink("Sell Games", "SellGames", "Home")</p>
                </div>
            }
        }

    </div>
</article>
